<div class="dd" style="
                            position: absolute;
                            top: 12px;
                            right: 3px;
                            z-index: 4;
                            background-color: white;
                            border-radius: 3px;">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="noClick()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</div>
<mat-card *ngIf="hidden" class="m-2">
  <div class="form-row align-items-baseline">

    <div  class="col-auto" >
      <form [formGroup]="frmOptions" (ngSubmit)="SendToService(frmOptions.value)" >
        <div class="form-row align-items-baseline ">
          <div class=" from col-auto my-1 " >
            <mat-form-field  appearance="fill" floatLabel= "always">
              <mat-label>From</mat-label>
              <input matInput [ngxMatDatetimePicker]="picker"
                     formControlName="DateSelectedStart"
                     [max]="maxDate"
                     [disabled]="disabled">
              <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners"
                                       [showSeconds]="showSeconds"
                                       [stepHour]="stepHour"
                                       [stepMinute]="stepMinute"
                                       [stepSecond]="stepSecond"
                                       [touchUi]="touchUi"
                                       [color]="color"
                                       [enableMeridian]="enableMeridian"
              >
              </ngx-mat-datetime-picker>
            </mat-form-field>
          </div>
          <div class=" to col-auto" >
            <mat-form-field  appearance="fill" floatLabel= "always">
              <mat-label>To</mat-label>
              <input matInput [ngxMatDatetimePicker]="picker1" placeholder="to"
                     formControlName="DateSelectedFinish"
                     [max]="maxDate"
                     [disabled]="disabled">
              <mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners"
                                       [showSeconds]="showSeconds"
                                       [stepHour]="stepHour"
                                       [stepMinute]="stepMinute"
                                       [stepSecond]="stepSecond"
                                       [touchUi]="touchUi"
                                       [color]="color"
                                       [enableMeridian]="enableMeridian"
              >
              </ngx-mat-datetime-picker>
            </mat-form-field>
          </div>
          <div class="col-auto my-1 " >
            <mat-form-field  appearance="fill" floatLabel= "always">
              <mat-label>Time interval:</mat-label>
              <mat-select formControlName="Record_Group_Time" class=" mr-sm-2"  >
                <mat-option value="10m">10 minutes</mat-option>
                <mat-option value="30m">30 minutes</mat-option>
                <mat-option value="60m">60 minutes</mat-option>
                <mat-option value="2h">2 Hours</mat-option>
                <mat-option value="3h">3 Hours</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="Road Definition col-auto my-1  " >
            <mat-form-field  appearance="fill">
              <mat-label>Road Definition: </mat-label>
              <mat-select formControlName="MaxVehicles" class="mr-sm-2" >
                <mat-option value="50">50 vehic/h</mat-option>
                <mat-option value="100">100 vehic/h</mat-option>
                <mat-option value="200">200 vehic/h</mat-option>
                <mat-option value="300">300 vehic/h</mat-option>
                <mat-option value="400">400 vehic/h</mat-option>
                <mat-option value="500">500 vehic/h</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="Category_select col-auto my-1  " >
            <mat-form-field  appearance="fill">
              <mat-label>Road Category:</mat-label>
              <mat-select formControlName="Category" class="mr-sm-2" >
                <mat-option value="1">Cat 1</mat-option>
                <mat-option value="2">Cat 2</mat-option>
                <mat-option value="3">Cat 3</mat-option>
                <mat-option value="4">Cat 4</mat-option>
                <mat-option value="6">Cat 6</mat-option>
                <mat-option value="7">Cat 7</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-auto " >
            <button type="submit" mat-raised-button color="primary">Apply</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-card>
