.test-card {
  position: absolute;
  top: 0.5vh;
  left: 0.5vw;
  right: 0.5vw;
  bottom: 0.5vh;
}


.test-card-content {
  text-align: left;
  flex-grow: 1;
  display: block;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  justify-content: center;

}

mat-card {
  display: flex;
  flex-direction: column;
}
