<mat-card >
  <mat-card-title class="text-left pt-0 pl-1 mb-1" style="position: absolute; font-size: large; margin-top: 2px; margin-bottom: 0px">
    {{title}}
  </mat-card-title>
  <div class="GraphContainer pt-2" style="position: relative; height:33vh; width:82vw; padding-bottom: 2vh">
    <canvas baseChart class="mt-4"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
    ></canvas>
  </div>
</mat-card>

